.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: darkslategrey;
}

.main-title{
    color: bisque;
}
.container-content{
    display: flex;
    flex-direction: row;
    gap: 15px;

    padding: 20px 2em ;
}

.mapComponent{
    border: 5px solid black;
}